<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        </script>
</head>
<body id = "uli">
    <ul id="messages">
        
    </ul>
    <form action="" id="form">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <script src="js/home.js"></script>
</body>
</html>