<body>
    <head>
        <script src="/socket/socket.io.js"></script>
        <script>
        var socket = io();
        </script>
    </head>
    <body>
        <p>room id - <span id="roomid"><%= id %></span></p>
        <form id="form">
            <input type="submit">
        </form> 
        <ul id="ul">
            
        </ul>
        <ul>
            <li id="n0">www.yotube.com</li>
            <li id="n1">www.google.com</li>
            <li id="n2">localhost:3000</li>
        </ul>
    <script src = "/js/room.js"></script>   
    </body>
</body>